.yt-group {
    width: auto;
    min-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: flex-start;
    overflow: hidden;
}

.yt-header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    margin-top: 20px;
}

.yt-header-logo {
    display: inline-flex;
    width: clamp(30px, 2.5vw, 48px);
    height: clamp(30px, 2.5vw, 48px);
    align-self: center;
    padding-right: 8px;
}

.yt-shorts-down-icon {
    cursor: pointer;
    fill: white;
    position: absolute;
    display: flex;
    padding: 5px;
    border-radius: 50%;
    top: 2px;
    right: 2px;
}

.yt-header-title {
    align-self: center;
    font-size: clamp(14px, 1.5vw, 24px);
}

.yt-group-contents {
    width: inherit;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: flex-start;
    align-items: flex-start;
    scroll-behavior: smooth;
    gap: 15px;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.yt-single-long-form-video-drop-container {
    flex-wrap: wrap;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
}

.yt-shorts-container {
    width: clamp(135px, 15vw, 495px);
    height: auto;
    background: darkgray;
    aspect-ratio: 10 / 16;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

.yt-shorts-image {
    width: 100%;
    height: 100%;
    inset: 0;
    object-fit: cover;
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0;
}

.yt-shorts-title {
    position: absolute;
    bottom: 8px;
    left: 8px;
    right: 8px;
    width: auto;
    height: auto;
    font-weight: 400;
    color: white;
    display: -webkit-box;
    align-self: flex-start;
    justify-self: flex-start;
    text-align: start;
    word-break: break-word;
    line-clamp: 2;
    -webkit-line-clamp: 2;
}

.yt-long-form-vid-container {
    width: 400px;
    height: auto;
    display: flex;
    padding: 10px;
    cursor: pointer;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    border-radius: 12px;
    border: 1px solid var(--divider-color);
}

.yt-long-form-vid-container .thumbnail-container {
    width: 100%;
    height: 230px;
    aspect-ratio: 16 / 9;
    position: relative;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.yt-long-form-vid-container .thumbnail-container .thumbnail {
    width: inherit;
    height: 100%;
    /*For mobile, uncomment below code...*/
    /*height: inherit;*/
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-self: center;
    background: darkgray;
}

.yt-long-form-vid-container .metadata-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.yt-long-form-vid-container .metadata-container .channel-thumbnail {
    width: 36px;
    height: 36px;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    object-fit: cover;
}

.yt-long-form-vid-container .metadata-container .vert-container {
    /*TODO: Parent padding was 10px each then margin left of 8px shifts container to right and padding right becomes 2px virtually then instead of calc(100% - 36px) it becomes calc(100% - (36px + 8px))*/
    /*TODO: We'll remove 8px to push more vert rightwards*/
    width: calc(100% - 36px);
    margin-left: 8px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
}

.yt-long-form-vid-container .metadata-container .vert-container .title-more {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.yt-long-form-vid-container .metadata-container .vert-container .title-more .title {
    width: calc(100% - (30px + 5px + 5px));
    height: auto;
    display: -webkit-box;
    word-break: break-word;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    text-align: start;
    font-size: 16px;
}

.yt-long-form-vid-container .metadata-container .vert-container .title-more .more-vert {
    fill: var(--textColor);
    padding: 5px;
    display: inline-flex;
    justify-self: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* default mobile */
@media (max-width: 480px) {
    /* phone-specific */
    .yt-group {
        padding-top: 0;
    }

    .yt-header {
        margin-top: 10px;
    }

    .yt-shorts-down-icon {
        width: 24px;
        height: 24px;
    }

    .yt-group-contents {
        margin-top: 10px;
    }

    .yt-single-long-form-video-drop-container {
        margin: 0;
        gap: 0;
        flex-wrap: wrap;
    }

    .yt-long-form-vid-container {
        width: 100%;
        display: flex;
        padding: 0;
        margin-top: 10px;
        border-radius: 0;
        border: 0;
    }

    .yt-long-form-vid-container .thumbnail-container {
        width: inherit;
        height: auto;
    }

    .yt-long-form-vid-container .thumbnail-container .thumbnail {
        width: inherit;
        height: 100%;
        object-fit: initial;
    }

    .yt-long-form-vid-container .metadata-container {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }


    .tiktok-full-size-player-card-container {
        width: 100%;
        object-fit: initial;
        aspect-ratio: 9 / 16;
        margin-top: 10px;
        height: auto;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .tiktok-full-size-player-card-container .thumbnail {
        width: inherit;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .tiktok-full-size-player-card-container .gen-controller{
        width: inherit;
        height: 100%;
        position: absolute;
        display: flex;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
}

@media (min-width: 481px) and (max-width: 1023px) {
    /* tablet */

}

@media (min-width: 1024px) {
    /* laptops */
    /* styles... */
}

@media (min-width: 1280px) {
    /* desktops */
    /* styles... */
}

@media (min-width: 1600px) {
    /* large monitors */
    /* styles... */
}

/* Full HD / Widescreens */
@media (min-width: 1920px) {
}

/* 2K / QHD monitors */
@media (min-width: 2560px) {
}

/* 4K displays */
@media (min-width: 3840px) {
}

/* Only apply hover styles on devices that can hover (mouse, stylus) */
@media (hover: hover) and (pointer: fine) {
    .card:hover {
        transform: translateY(-6px);
        box-shadow: 0 10px 30px rgba(0,0,0,.12);
    }
}