@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --dark-linear-gradient-background: linear-gradient(45deg, rgba(0, 0, 0, 1.00), rgba(0, 0, 0, 0.50));
    --translucent-div-background: rgba(0, 0, 0, 0.25);
    --hover-background-color: #dcdcdc;
}

.light-theme {
    --colorPrimary: white;
    --colorPrimaryDark: #CC0000;
    --colorAccent: #FF5900;
    --windowBackground: white;
    --textColor: black;
    --card-background-color: #f5f5f5;
    --blue-to-white: #0017B5;
    --selected-color: var(--textColor);
}

.dark-theme {
    --colorPrimary: black;
    --colorPrimaryDark: #CC0000;
    --colorAccent: #FF8400;
    --windowBackground: black;
    --textColor: white;
    --card-background-color: #424242;
    --blue-to-white: white;
    --selected-color: var(--textColor);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: green;
    scroll-behavior: smooth;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    flex-direction: column;
    -webkit-tap-highlight-color: transparent;
    -ms-scrollbar-highlight-color: transparent;
    scrollbar-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    height: 0;
    width: 0;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: none;
}

.translucent-background-escape-no-animation {
    width: 100vw;
    height: 100vh;
    background: var(--translucent-div-background);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: none;
    align-self: center;
}

.translucent-background-escape-no-animation.active {
    display: flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}
